body{
  margin: 0;
  padding: 0;
  background-color: rgb(118, 243, 243);
}
.top{
  margin: 150px;
}
/*/////////// NavBar ////////// */
nav li{
  border-bottom: 2px solid black;
  margin: 10px;
  max-width: 200px;
}
nav li:hover{
  background-color: rgb(204, 202, 202);
  border-radius: 5px;
  color: white;
}
/* //////// About me /////////*/

/* //////// Work ///////////// */
.work-text{
  width: 200px;
  padding: 10px;
  margin:10px auto ;
  border-bottom: 5px  groove blue ;
}
.work-text h2{
  font-size: 100px;
}
.work-text img{
  width: 200px;
}




